#!/bin/sh

branch="$(git rev-parse --abbrev-ref HEAD)"

valid_regex="^\w+$"

if ! [[ $branch =~ $valid_regex ]]; then

	echo "Your commit was rejected due to branch name"
	
	echo "Please rename your branch with $valid_regex syntax"

	exit 1

fi